---
interface Props {
  text?: string;
}

const { text } = Astro.props;
---

{
  text && (
    <aside class="mb-10 border-l-4 border-orange-300 bg-white/4 px-5 py-4">
      <p class="font-[650] text-zinc-200">TL;DR</p>
      <p class="mt-3 text-lg leading-7 text-zinc-200">{text}</p>
    </aside>
  )
}
